<% if current_user.admin? %>
  <%= link_to "New slide", new_course_slide_path(@course) %><br>
<% end %>


<div class="inline pull-left">
  <%= link_to "Back", overview_course_slides_path(@course), class: "btn btn-default" %>
</div>

<div style="text-align: center;">
  <%= will_paginate @slides, class: "apple_pagination" %>
</div>

<br>


<% @slides.order(:id => :asc).each do |slide| %>

  <% if current_user.admin? %>
    <%= link_to "Edit", edit_course_slide_path(slide.course, slide)%>
    <%= link_to "Delete", course_slide_path(slide.course, slide), method: :delete, data: { confirm: "Are you sure you want to delete this slide"} %><br>
  <% end %>

  <%= link_to image_tag(slide.image, class: "img-responsive"), course_slides_path(slide.course, :page => @next_page) %><br>

  <%#= link_to "Add Note", new_slide_note_path(slide) %>

<% end %>

