<h1 class="page-header">
  Overview
  <% unless @category_id.nil? %>
    <small>Chapter <%= @category_id %></small>
  <% end %>

  <small>
    <span class="inline pull-right">
    <li class="dropdown" style="display: inline">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Choose chapter <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <% Category.all.each do |category| %>
          <li>
      	    <%= link_to category.chapter, overview_course_slides_path(@course, category: category.chapter)%>
          </li>
        <% end %>
      </ul>
    </li>
  </span>
  </small>
</h1>

<div style="text-align: center;">
  <%= will_paginate @slides, class: "apple_pagination" %>
</div>

<br>

<% @slides.order(:id => :asc).each do |slide| %>
  <div class="col-sm-3">
    <span class="label label-info"><%= slide.notes.size %> note(s)</span>
    <%= link_to image_tag(slide.image, class: "overview-slides"), course_slides_path(slide.course, :page => @number.index(slide).to_i + 1) %>
  </div>
<% end %>