<h1 class="page-header">Your profile</h1>

<h2>First Name: <%= @first_name %></h2>
<h2>Last Name: <%= @last_name %></h2>

<p>Total score: <%= @user.score %></p>

<p>Level: <%= @user.level %></p>

<p># Comments: <%= @user.notes.size%></p>

<p>avg likes/comment: <%= @user.likes_per_comment.round(2) %></p>

<% if @user == current_user %>
  <%= link_to 'Edit your profile', edit_user_registration_path %>
<% end %>