<h1 class="page-header">Welcome!</h1>

<div class="col-sm-6">
  <h3>Latest news: <%= @post.title %></h3>
  <p style="white-space: pre-wrap;"><%= @post.body %></p>

</div>


<div class="col-sm-6">
  <h2 style="text-align: center"><span class="glyphicon glyphicon-fire"></span> Most discussed</h2>
  
  <hr>
  <table class="table table-striped" idd="css-serial">
  <thead>
    <tr>
      <th>#</th>
      <th>Slide</th>
      <th>Course</th>
      <th>Chapter</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @slides.order(:amount_of_notes => :desc).limit(5).each do |slide| %>
      <tr>
        <td></td>
        <td id="link"><%= link_to "View slide", course_slides_path(slide.course, :page => slide.course.slides.index(slide).to_i + 1) %></td>
        <td><%= slide.course.name %></td>
        <td><strong><%= slide.category.chapter %></strong></td>
        <td><%= slide.amount_of_notes %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

</div>