<% @courses.each do |course| %>
  <h3><strong><%= course.name %></strong></h3>

	  <p><%= course.description %></p>
	  <% if current_user.admin? %>
	    <%= link_to "Edit", edit_course_path(course) %>
	    <%= link_to "Delete", course_path(course), method: :delete, data: { confirm: "Are you sure you want to delete this course?"} %>
	  <% end %>

	  <%#= link_to "View Slide", course_slides_path(course) %>

	  <%= link_to overview_course_slides_path(course), class: "btn btn-primary" do %>
	    <span class="glyphicon glyphicon-th-large"></span>
	    Slides
	  <% end %>

    <hr>
<% end %>
