<!DOCTYPE html>
<html>
<head>
  <title>NotitiesApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'enscroll-0.6.2.min' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top" id="custom-bootstrap-menu">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="padding: 0; margin: 0;">
          <%= link_to image_tag("slidenotelogo3.png", size: "115x47", alt: "Brand"), root_path %>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">  
      <div class="col-sm-3 col-md-2 sidebar">
  	    <ul class="nav nav-sidebar">
          <li id="link"><%= link_to "<span class=\"glyphicon glyphicon-home\"></span> Home".html_safe, home_path %></li>
          <br>
  	      <li id="link"><%= link_to "<span class=\"
glyphicon glyphicon-book\"></span> My courses".html_safe, courses_path %></li>
          <li id="link"><%= link_to "<span class=\"glyphicon glyphicon-user\"></span> Profile".html_safe, user_path(current_user) %></li>
  	      <li id="link"><%= link_to "<span class=\"glyphicon glyphicon-stats\"></span> Leaderboard".html_safe, leaderboard_path %></li>
  	      <li id="link"><%= link_to "<span class=\"
glyphicon glyphicon-bell\"></span> News".html_safe, posts_path %></li>
  	    </ul>
  	    <ul class="nav nav-sidebar">
  	  	  <li  id="bottom-links"><%= link_to 'About us', aboutus_path %></li>
  	    </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div ="container">
          <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
          <% if alert %><div class="alert alert-warning"><%= alert %></div><% end %>
        </div>
		    <%= yield %>
      </div>
    </div>
  </div>



</body>
</html>
