<!DOCTYPE html>
<html>
<head>
  <title>NotitiesApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "NotitiesApp", root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path %>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">  
      <div class="col-sm-3 col-md-2 sidebar">
  	    <ul class="nav nav-sidebar">
  	      <li><%= link_to "My courses", courses_path %></li>
  	      <li><a href="">Leaderboards</a></li>
  	      <li><a href="">News</a></li>
  	    </ul>
  	    <ul class="nav nav-sidebar">
  	  	  <li><a href="">About us</a></li>
          <li><%= link_to "New Course", new_course_path %>
  	    </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
		    <%= yield %>
      </div>
    </div>
  </div>



</body>
</html>
