<!DOCTYPE html>
<html>
<head>
  <title>Slidenote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="welcome_body">

<div class="hidden-xs hidden-sm">
<nav class="navbar navbar-default navbar-fixed-top" id="custom-bootstrap-menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to image_tag("slidenotelogo3.png", size: "115x47", alt: "Brand", :class => "hidden-xs"), root_path %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= %>
          <span>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => 'form-horizontal', style: 'padding-top: 10px; padding-bottom: 0px; height: 0;' }) do |f| %>
            <div class="form-inline">
              <%= f.input :email, label: "Email: ",required: false, autofocus: true, :label_html => { style: "color: #bdc3c7; margin-right: 10px; font-size: 12px;"}, :input_html => {style: "margin-right: 40px; height: 25px; font-size: 12px;"} %>
              <%= f.input :password, required: false, label: "Password: ",:label_html => { style: "color: #bdc3c7; margin-right: 10px; font-size: 12px;"}, :input_html => {style: "margin-right: 40px; height: 25px; font-size: 12px;"} %>
              <%= f.input :remember_me,:label_html => { style: "color: #bdc3c7; font-size: 12px; margin-right: 50px;" } , as: :boolean if devise_mapping.rememberable? %>             
              <%= f.button :submit, "Log in", style: 'margin-right: 100px;', class: "btn btn-default btn-sm" %>           
            </div>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="col-sm-4 col-md-offset-1" style="margin-top: 80px;" id="welcome_message">
  <h1>Welcome to Slidenote!</h1>
  <p>Slidenote is an online course filled with notes by students in your class!</p>
  <p>To get started, fill in the Sign Up form. If you have already registered, you can log in.</p>
</div>

<div class="col-sm-4 col-md-offset-1" style="margin-top: 80px; margin-bottom: 65px;" id="welcome_signin">

  <div ="container">
    <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
    <% if alert %><div class="alert alert-warning"><%= alert %></div><% end %>
  </div>
  <%= yield %>
</div>

</div>

<div class="hidden-lg hidden-md">
  <nav class="navbar navbar-default navbar-fixed-top" id="custom-bootstrap-menu">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="padding: 0; margin: 0;">
          <%= link_to image_tag("slidenotelogo3.png", size: "115x47", alt: "Brand"), root_path %>
        </a>
      </div>
    </div>
  </nav>

  <h1>Welcome to Slidenote!</h1>
  <div class="alert alert-warning"><p>Please consider using this website on a bigger screen for a better experience</p></div>

  <%= render 'devise/sessions/new' %>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom" id="footer">
  <div class="container" style="text-align: center; padding-top: 10px;">
    <%= link_to "About", aboutus_path %> &nbsp
    <%= link_to "Faq", faq_path %> &nbsp
    <%= link_to "Contact", contact_path %>&nbsp
    <%= link_to "Terms", terms_path %>&nbsp
    <%= link_to "Privacy", privacy_path %>
  </div>
</nav>

</body>
</html>
